* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bai4{
    width: 250px;
    height: 100vh;
    background-color: blue;
}

li{
    list-style: none;
}

body{
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.c{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px
}

.c:hover {
    background-color: rgb(106, 91, 91);
}

.a5{
    position: relative;
    display: flex;
    align-items: center;
}

.a4{
    position: relative;
    display: flex;
    align-items: center;
}

.a3{
    position: relative;
    display: flex;
    align-items: center;
}

.a2{
    position: relative;
    display: flex;
    align-items: center;
}

.a1{
    position: relative;
    display: flex;
    align-items: center;
}



