.text{
    text-align: center;
    padding-top: 83px;
}

h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 83px;
    font-family: Eudoxus Sans;
    text-shadow: 2px 2px gray;
}

.text p{
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}

