.text{
    overflow: hidden;
}
.text span{
    display: inline-block;
    animation: slide-left 10s linear infinite;
    white-space: nowrap;
}

@keyframes slide-left{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%)
    }
}