form{
    display: flex;
    gap: 50px;
}

.form-group {
    display: flex;
    align-items: center;
}

label{
    min-width: 200px;
    display: inline-block;
}

.note{
    display: flex;
    align-items: center;
}

